.App {
  align-content: center;
}
.media {
  flex-direction: row;
  margin-top: 20px;
}

.mediaSize {
  height: 50%;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin-left: 10%;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: left;
}

th {
  color: #fff;
  text-align: center;
  background-color: #4b8115;
  border: 2px solid black;
}

td {
  background-color: #dae7cd;
  color: #000;
  text-align: center;
  border: 2px solid black;
}

.ranking {
  text-align: center;
}

.header2 {
  text-align: center;
}
body {
  text-align: center;
}

header {
  text-align: center;
  justify-content: center;
  background-color: #299617;
  height: 20vh;
  width: 100%;
}
section div {
  align-content: center;
}

section h2 {
  text-align: center;
}

nav a {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #dddddd;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 8%;
}

a:active {
  font-weight: bold;
  background-color: #dddddd00;
}

.currenttab {
  font-weight: bold;
  background-color: #dddddd2a;
}

.a {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
  text-decoration: none;
}

li a {
  text-decoration: none;
}

ul li {
  text-align: center;
  margin-left: 20px;
  list-style-type: none;
}

img {
  max-height: 300px;
  max-width: 450px;
}

div ul {
  border: 1%;
  padding: 1%;
  margin: 1px;
  margin-left: 10px;
}

section ul {
  align-content: center;
  align-items: center;
  text-align: center;
}

#body {
  margin: 2%;
}

#image {
  line-height: 650px;
  width: 60%;
  height: 75vh;
  border: 3px solid black;
  margin: 0 auto;
  background-color: #8e68ff;
  background-image: url("");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 5%;
  font-size: 150%;
}
.preview {
  width: 40%;
  margin-left: 3%;
  margin-bottom: 3%;
  border: 5px solid black;
  height: 110vh;
}

input {
  border: 1px solid black;
}
input:focus {
  background-color: #e6e6e6;
}
fieldset {
  margin-bottom: 4%;
}

@media all and (min-width: 800px) {
  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 4.225rem;
    margin-right: 1rem;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    color: #fff;
    text-align: center;
    background-color: #4b8115;
    border: 1px solid black;
  }

  td {
    background-color: #dae7cd;
    color: #000;
    text-align: center;
    border: 1px solid black;
  }

  .ranking {
    text-align: center;
  }

  h1 {
    padding-bottom: 1%;
  }

  .header2 {
    text-align: center;
  }
  body {
    text-align: center;
  }

  header {
    text-align: center;
    justify-content: center;
    background-color: #299617;
    height: 20vh;
    width: 100%;
  }
  section div {
    flex-direction: row;
    display: inline-block;
  }

  section h2 {
    display: inline-block;
    text-align: center;
  }
  header nav a {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #dddddd;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 8%;
  }

  a:active {
    font-weight: bold;
    background-color: #dddddd00;
  }

  .currenttab {
    font-weight: bold;
    background-color: #dddddd2a;
  }

  .a {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
  }

  li a {
    text-decoration: none;
  }

  ul li {
    text-align: left;
    margin-left: 5%;
  }

  img {
    max-height: 300px;
    max-width: 450px;
  }

  div ul {
    border: 1%;
    padding: 2%;
    margin: 5%;
    margin-left: 5%;
  }

  section ul {
    align-content: center;
    align-items: center;
    text-align: center;
  }

  #body {
    margin: 2%;
  }

  #image {
    line-height: 650px;
    width: 50%;
    height: 60vh;
    border: 3px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url("");
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    background-size: 100%;
    margin-bottom: 5%;
    font-size: 150%;
  }
  .preview {
    width: 10%;
    margin-left: 3%;
    border: 3px solid black;
    width: 33%;
    height: 300px;
  }

  input {
    border: 1px solid black;
  }
  input:focus {
    background-color: #e6e6e6;
  }
  fieldset {
    margin-bottom: 4%;
  }
}

@media all and (min-width: 1200px) {
  #image {
    line-height: 650px;
    width: 45%;
    height: 80vh;
    border: 3px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url("");
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    background-size: 100%;
    margin-bottom: 5%;
    font-size: 150%;
  }
  .preview {
    width: 10%;
    margin-left: 3%;
    border: 3px solid black;
    width: 20%;
    height: 300px;
  }
}
